@import "../../styles/variables.scss";

.cartDropdown {
  display: flex;
  flex-direction: column;
  // height: 100%;
  overflow-y: scroll;
  .cart__wrapper {
    padding: 0 28px;
  }
  .dropdown__content {
    max-height: 45vh;
    padding: 16px 28px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(216, 216, 216);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    .row__title {
      color: $title__text__color;
      font-size: $ft__14;
      font-weight: $ft__w__medium;
      margin-bottom: 18px;
    }
    .empty__cart__btn {
      all: unset;
      cursor: pointer;
      color: $title__text__color;
      font-size: $ft__11;
      font-weight: $ft__w__regular;
      .icon {
        font-size: $ft__18;
      }
    }
    .confirm__action {
      margin-top: 4px;
      display: flex;
      column-gap: 10px;
      font-size: $ft__11;
      font-weight: $ft__w__regular;

      .confirm,
      .cancel {
        cursor: pointer;
      }
      .confirm {
        color: red;
        font-weight: 500;
      }
    }
    .add__note__input__wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      height: 50px;
      border-radius: 50px;
      border: 1px solid #e1e1e1;
      padding: 0 20px;
      column-gap: 18px;
      svg {
        width: -moz-fit-content;
        width: fit-content;
        display: block;
        height: 26px;
      }
      .add_note__input {
        border: 0;
        outline: none;
        width: 100%;
        height: 100%;
        &::placeholder {
          color: $dark__text__color;
          font-size: $ft__14;
          font-weight: $ft__w__regular;
        }
      }
      .save_note__btn {
        background-color: transparent;
        border: none;
        outline: none;
        color: $main__orange;
        font-weight: $ft__w__medium;
        font-size: $ft__14;
      }
    }
    .payment__details__title {
      color: $main__orange;
    }
    .payment__details__wrapper {
      .payment__details {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        .payment_details__row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &:not(:last-child) {
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(112, 112, 112, 0.12);
          }
          &:last-child {
            padding-top: 3px;
          }
        }
        .value,
        .details {
          color: $dark__text__color;
          font-size: $ft__12;
          font-weight: $ft__w__medium;
        }
        .value {
          font-weight: $ft__w__regular;
          &.total {
            font-weight: $ft__w__medium;
          }
        }
      }
    }
  }
}

.isLoading__wrapper {
  min-height: 70vh;
  display: grid;
  place-items: center;
  color: $main__orange;
  .spinner {
    width: 50px;
    height: 50px;
    // font-size: 6rem;
  }
}

// ======== Start Media max-width: 1399px (1200px - 1399px) ==========//
@media (max-width: 1399px) {
  .cartDropdown {
    .dropdown__content {
      max-height: 44vh;
      max-height: calc(100vh - 400px);
      padding: 0 14px;
    }
  }
  .cart__wrapper {
    padding: 0 14px;
  }
}
// ======== End Media max-width: 1399px (1200px - 1399px) ==========//
// ======== Start Media max-width: 991px (768px - 99p1x) ==========//
@media (max-width: 991px) {
  .cartDropdown {
    .dropdown__content {
      max-height: calc(100vh - 240px);
    }
  }
}
// ======== End Media max-width: 991px (768px - 991px) ==========//
