@import "../../styles/variables.scss";

.item__price__container {
  background-color: #f9f9f9;
  padding: 0 25px;
  border-radius: 12px;
  width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  .left {
    margin: 15px 0;
    display: flex;
    // align-items: center;
    column-gap: 20px;
    .img__wrapper {
      width: 90px !important;
      min-width: 90px !important;
      height: 90px;
      border-radius: 8px;
      overflow: hidden;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
    .item__title {
      .title {
        color: $dark__text__color;
        font-size: 17px;
        font-weight: $ft__w__bold;
        margin-bottom: 8px;
      }
      .subtitle {
        color: #969696;
        font-size: $ft__11;
        font-weight: $ft__w__regular;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }

  .item__price__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    .item__quantity__control {
      margin-right: 2rem;
      background-color: #fff;
      border: 1px solid #e9e9e9;
      height: 32px;
      width: 116px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .control__btn {
        all: unset;
        cursor: pointer;
        color: $main__orange;
      }
      .quantity {
        font-size: 13px;
      }
    }
    .item_amount_control {
      background-color: $pure__white;
      border: 1px solid #e9e9e9;
      border-radius: 12px;
      justify-content: space-around;
      font-size: $ft__14;
      font-weight: $ft__w__medium;
      color: $dark__text__color;
      margin-right: 23px;
      width: 94px;
      height: 26px;

      .add,
      .remove {
        background-color: transparent;
        color: $main__orange;
        border: none;
        outline: none;
      }
    }

    .item__price {
      display: flex;
      flex-direction: column;
      column-gap: 24px;
      .price__word {
        font-size: 17px;
        font-weight: $ft__w__medium;
        color: $dark__text__color;
      }

      .item__price {
        display: flex;
        align-items: center;
        column-gap: 10px;
        .last__price {
          color: #bdbdbd;
          font-size: $ft__20;
          font-weight: $ft__w__regular;
          text-decoration: line-through;
        }
        .new__price {
          color: $title__text__color;
          font-size: $ft__20;
          font-weight: $ft__w__bold;
          .SAR {
            color: $main__orange;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .item__price__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .item__price__content {
      display: flex !important;
      flex-direction: row !important;
      flex-wrap: nowrap !important;
    }
  }
}

@media (max-width: 680px) {
  .item__price__container {
    flex-direction: column !important;
    row-gap: 20px;
    .item__title {
      align-items: flex-start !important;
      width: 100%;
    }
    .item__price__content {
      width: 100%;
      // justify-content: space-between !important;
      flex-wrap: wrap;
      row-gap: 20px;
      .item__price {
        column-gap: 10px;
        .new__price,
        .last__price {
          font-size: 16px !important;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .item__price__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .item__price__content {
      justify-content: flex-end !important;
    }
  }
}
@media(max-width: 540px) {
  .item__price__container {
    .left {
      flex-wrap: wrap;
      row-gap: 14px;
    }
  }
}
@media (max-width: 380px) {
  .item__price__container {
    padding: 10px;
  }
  .item__price__container {
    .item__price__content {
      .item__quantity__control {
        margin: 0 !important;
      }
    }
  }
}